<section class="footer">
    <div class="container">
        <mat-grid-list cols="4" class="text-white" rowHeight="100px">
            <mat-grid-tile>
                <div class="media-wrap">
                    <a href="https://www.uru.gub.uy/">
                        <img class="percentage-fifty" src="./assets/rugbyball.jpg" alt="Rugby Ball" title="">
                    </a>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
            	<div class="vertical-align">
                <h5 class="pb-3">
                    Dirección
                </h5>
                <p class="mbr-text">Avenida Bolivia 2387, esq. Verona</p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
            	<div class="vertical-align">
                <h5 class="pb-3">
                    Contacto
                </h5>
                <p class="mbr-text">Email: uru@uru.org.uy&nbsp;</p>
                <p class="mbr-text">Phone: (+598) 2 600 2003</p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
            	<div class="vertical-align">
                <h5 class="pb-3">
                    Enlaces
                </h5>
                <p class="mbr-text"><a href="http://uru.org.uy/" target="_blank">Union de Rugby del Uruguay</a></p>
              </div>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2019 ElbonSites - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/RugbyUruguay" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/UnionRugbyUruguay/?ref=br_rs" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/user/RugbyUruguay" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.instagram.com/explore/locations/860225938/union-de-rugby-del-uruguay/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="http://www.google.com" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="http://www.google.com" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-behance socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>