.example-card {
  max-width: 400px;
}

.cards {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  .example-card {
  	margin: 1rem;
  }
}

.dashboard-header {
  padding: 5px;
  background: lightgrey;
  border-bottom: 1px solid #444;
  button[color="red"] {
    background: #D30000;
  }
  button {
    background: #047dac;
    color: white;
    margin-right: 10px;
  }
}
