<div class="dashboard-header">
	<button mat-raised-button color="primary" (click)="toPlayers();">Jugadores</button>
	<button mat-raised-button color="primary" (click)="toMatches();">Partidos</button>
	<button mat-raised-button color="red" (click)="closeSession();">Cerrar sesión</button>
</div>
<div class="cards">
	<mat-card class="example-card">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>person_pin</mat-icon></div>
	    <mat-card-title>Registrados</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      Hay 16 jugadores registrados en el sistema.
	    </p>
	  </mat-card-content>
	</mat-card>

	<mat-card class="example-card" style="background: #FFF273;color: dimgrey;">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>attach_money</mat-icon></div>
	    <mat-card-title>Cuota URU</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      8 de 16 (50%) jugadores ya pagaron la cuota de URU.
	    </p>
	  </mat-card-content>
	</mat-card>

	<mat-card class="example-card" style="background: #99ee6b;color: dimgrey;">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>verified_user</mat-icon></div>
	    <mat-card-title>RugbyReady</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      Todos (100%) tienes validado el RugbyReady.
	    </p>
	  </mat-card-content>
	</mat-card>

	<mat-card class="example-card">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>warning</mat-icon></div>
	    <mat-card-title>Otros índices</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      XX de 16 (XX%) jugadores ya cumplieron este índice.
	    </p>
	  </mat-card-content>
	</mat-card>

	<mat-card class="example-card">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>warning</mat-icon></div>
	    <mat-card-title>Otros índices</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      XX de 16 (XX%) jugadores ya cumplieron este índice.
	    </p>
	  </mat-card-content>
	</mat-card>

	<mat-card class="example-card">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>warning</mat-icon></div>
	    <mat-card-title>Otros índices</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      XX de 16 (XX%) jugadores ya cumplieron este índice.
	    </p>
	  </mat-card-content>
	</mat-card>

	<mat-card class="example-card">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>warning</mat-icon></div>
	    <mat-card-title>Otros índices</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      XX de 16 (XX%) jugadores ya cumplieron este índice.
	    </p>
	  </mat-card-content>
	</mat-card>

	<mat-card class="example-card">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>warning</mat-icon></div>
	    <mat-card-title>Otros índices</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      XX de 16 (XX%) jugadores ya cumplieron este índice.
	    </p>
	  </mat-card-content>
	</mat-card>

	<mat-card class="example-card">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>warning</mat-icon></div>
	    <mat-card-title>Otros índices</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      XX de 16 (XX%) jugadores ya cumplieron este índice.
	    </p>
	  </mat-card-content>
	</mat-card>

	<mat-card class="example-card">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>warning</mat-icon></div>
	    <mat-card-title>Otros índices</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      XX de 16 (XX%) jugadores ya cumplieron este índice.
	    </p>
	  </mat-card-content>
	</mat-card>

	<mat-card class="example-card">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>warning</mat-icon></div>
	    <mat-card-title>Otros índices</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      XX de 16 (XX%) jugadores ya cumplieron este índice.
	    </p>
	  </mat-card-content>
	</mat-card>
</div>
