<div class="sliding-background">
  <div class="wrapper">
    <div class="background">
      <h1 class="title">
        Rugby del Interior
      </h1>
      <h2 class="subtitle">
        Ingresa todos tus datos y sumate a la base de datos de jugadores de rugby del interior del país
      </h2>
      <div class="register-buttons">
        <button mat-raised-button color="primary" (click)="toLogin();">INICIAR SESIÓN</button>
        <button mat-raised-button color="basic" (click)="toRegister();">REGÍSTRATE</button>
      </div>
    </div>
  </div>
</div>
